<div class="col-12 col-md-6 col-lg-4 text-item__container">
  <div class="card text-item">
    <%= image_tag("default_image.jpg")  %>
    <div class="card-body">
      <% if text.read_progressed_by?(current_user) %>
        済み
      <% else %>
        済みにする
      <% end %>
      <a href="#" class="btn btn-secondary text-list__button">読破済みにする</a>
      <p class="text-list__title"><%= text.title %></p>
      <p>【<%= text.genre %>】</p>
    </div>
  </div>
</div>
